extends ../layout

block content
  div.header
    h1 gTables
    h3: a(href= '/restaurants/new') New Restaurant
  div.content
    each thing in stuff
      div.subcontent
        h1: a(href= '/restaurants/#{thing.title}') #{thing.title}
        img(src= thing.imglink height="80px" width="80px")
        p= thing.description
        div.locrate
          p= thing.location 
          p
            - var numstar = thing.rating;
            - while (numstar--)
             i.fa.fa-star
          p.state= thing.staters
        
