extends ../layout

block content
  div.header
    h1.gt gTables
    div.nr
    h3: a.nr(href= '/restaurants/new') New Restaurant
  div.content
    each thing in stuff
      div.subcontent.subBox
        h1: a.titl(href= '/restaurants/#{thing.title}') #{thing.title}
        img(src= thing.imglink height="180px" width="180px")
        p.des= thing.description
        div.locrate
          p= thing.location 
          p
            - var numstar = thing.rating;
            - while (numstar--)
             i.star.fa.fa-star
          p.state= thing.staters
        
