extends ../layout 

block content 
  div.well.well-lg
    h1: a(href= '/restaurants/#{stuff.title}') #{stuff.title}
    img(src= stuff.imglink height="80px" width="80px")
    p= stuff.description
    div.locrate
      p= stuff.location 
      p
        - var numstar = stuff.rating;
        - while (numstar--)
         i.fa.fa-star
      p.state= stuff.staters
    p= stuff.bio
    p 
      a.btn-link(href='/restaurants/#{stuff.title}/edit') Edit
      form(action='/restaurants/#{stuff.title}/delete' method='post')
        input.btn.btn-link(type='submit' value='Delete')
