extends ../layout 

block content 
  if book
    div.well.well-lg
      h1= restaurant.title 
      h3= restaurant.author
      p Rating: #{restaurant.rating}
      p= restaurant.description 
      p 
        a.btn-link(href='/restaurant/'+ restaurant.id + '/edit') Edit
        form(action='/restaurant/#{restaurant.id}/delete' method='post')
          input.btn.btn-link(type='submit' value='Delete')
