extends ../layout 

block content 
  div.header
    h1.st: a.titl.st.show(href= '/restaurants/#{restaurant.id}') #{restaurant.title}
    div.adlink: a.ad(href= '/restaurants/admin') Admin Page
  div.splt
    div.bigpic
      img(src="../"+restaurant.imglink height="380px" width="380px")
      a.btnEmp(href='/restaurants/#{restaurant.id}/employee/new') Add employee
    div.contentshow
      p= restaurant.description
      div.locrate Located in&nbsp #{restaurant.location}
      div.bio
        p #{restaurant.bio}
        p
          - var numstar = restaurant.rating;
          - while (numstar--)
           i.star.fa.fa-star
        p.state= restaurant.staters
      div.reviews
        for restaurant in restaurantS
          if restaurant.review
            p.rev #{restaurant.review}
              - var numstar = restaurant.rating;
              - while (numstar--)
               i.star.fa.fa-star
        if employees
          for employee in employees
            ul.emp #{employee.firstName} #{employee.lastName} 
              li #{employee.position}
          div.btns23
            a.btnEs(href='/restaurants/#{restaurant.id}/edit') Edit
            a.btnR(href='/restaurants/#{restaurant.id}/review/new') Review
            form(action='/restaurants/#{restaurant.id}/delete' method='post')
              input.btn-link.d(type='submit' value='Delete')
