extends ../layout 

block content 
  div.header
    h1.gt: a.titl.show(href= '/restaurants/#{restaurant.id}') #{restaurant.title}
    div.adlink: a.ad(href= '/restaurants/admin') Admin Page
  div.splt
    div.bigpic
      img(src="../"+restaurant.imglink height="380px" width="380px")
      a.btnEmp(href='/restaurants/#{restaurant.id}/employee/new') Add employee
    div.contentshow
      p= restaurant.description
      div.locrate Located in&nbsp #{restaurant.location}
      div.bio
        p= restaurant.bio
        p
          - var numstar = restaurant.rating;
          - while (numstar--)
           i.star.fa.fa-star
        p.state= restaurant.staters
      div.reviews
        for restaurant in restaurantS
            p.rev #{restaurant.review}
        if employees
          for employee in employees
            p.emp #{employee.firstName}
          div.btncont
            p.btns 
              a.btnE(href='/restaurants/#{restaurant.id}/edit') Edit
              form(action='/restaurants/#{restaurant.id}/delete' method='post')
                input.btn-link.d(type='submit' value='Delete')
              a.btnR(href='/restaurants/#{restaurant.id}/review/new') Review
